@font-face {
    font-family: gilroy-regular; 
    src: url(gilroy-regular.ttf);
}
@font-face  {  
    font-family: gilroy-bold; 
    src: url(gilroy-bold.ttf);
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'gilroy-bold', sans-serif;
    font-style: normal;
}
p {
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    margin: 0;
}

wrap {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1420px;
    padding: 0 10px;
  }

button:hover {
    cursor: pointer;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    min-height: 120px;
    max-width: 1920px;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 0.5 698px;
    min-height: 16px;
}

.space {
  flex: 0 1 40px;
}
.spacer1 {
  flex: 0 1 111px;
}
.spacer2 {
  flex: 0 1 140px;
}
.spacer3 {
  flex: 0 1 42px;
}

header p {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #1F2428;
}

header button {
    width: 170px;
    height: 48px;
    border: none;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
  
}

div.enter img {
    margin-right: 11px;
}

header a {
    text-decoration: none;
}

main {
    margin: 0 auto 160px auto;
    max-width: 1800px;
    height: 680px;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 36px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

div.main-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    min-width: 120px;
}

.main-empty1 {
    flex: 0 1 200px;
}
.main-text {
    flex: 0 0.5 715px; 
}
.main-empty2 {
    flex: 0 1 52px;
}

.main-empty3 {
    flex: 0 1 260px;
}

h1 {
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 0 0 8px 0;
}

div.main-text p {
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 0 0 36px 0;
    max-width: 700px;
}

div.main-text button {
    width: 260px;
    height: 66px;
    border: none;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
  }

slider {
    display: block;
    max-width: 1400px;
    margin: 0 auto 158px auto;
    min-height: 893px;
    border: solid red 1px;
}

slider h2 {
    font-weight: 800;
    font-size: 44px;
    line-height: 50px;
    margin: 0 0 40px 0;
    max-width: 477px;
}

.mini-slider {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    min-height: 100px;
    margin-bottom: 54px;
}

.arrow {
    max-width: 70px;
}

.slide-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px 0 31px;
    flex: 0 1 auto;
}

.slide-box:hover {
    background: #F2F6FC;
    cursor: pointer;
}

.space-into-box {
    min-width: 17px;
}

.slide-box p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    flex: 0 1 auto;
}

holder {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto 160px auto;
    box-sizing: border-box;
    padding-top: 17.5px;
    padding-bottom: 27px;
    max-width: 1400px;
    min-height: 180px;
    background: #FFFFFF;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px; 
}

holder img {
    float: left;
    margin-right: 26px;
}

holder div:nth-of-type(1) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 296px;
    min-height: 60px;
    padding:0 71px 0 51px;
}

holder div:nth-of-type(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    border-left: 1px solid #C0C9D7;
    padding: 0 74px 0 67px;
    max-width: 389px;
}

holder div:nth-of-type(3) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    border-left: 1px solid #C0C9D7;
    padding: 0 78px 0 74px;
    max-width: 358px;
}

holder div:nth-of-type(4) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    border-left: 1px solid #C0C9D7;
    padding: 0 78px 0 62px;
    /* width: 280px; */
}

holder p {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* margin-top: 6px; */

}

box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto 160px auto;
    max-width: 1800px;
    min-height: 480px;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 36px; 
}

.box-empty1 {
    flex: 0 1 200px;
}
/* .box-img {
    flex: 0 0 402px; 
} */
.box-empty2 {
    flex: 0 1 75px;
}
.box-text {
    flex: 0 1 834px;
}
.box-empty3 {
    flex: 0 1 289px;
}

.box-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h5 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0 0 11px 0;
    max-width: 763px;

}

div.box-text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 0 30px 0;
}

div.box-text button {
    width: 240px;
    height: 66px;
    border: none;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
  }

wrap {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 10px;
} 

.calculate {
    display: block;
    text-align: left;
    max-width: 760px;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    color: #1F2428;
}

.calculate h2 {
    font-size: 34px;
    font-weight: 800;
    line-height: 56px;
    margin: 0 0 20px 0;
    max-width: 824px;
    color: #1F2428;
}

.postbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto 80px auto;
    padding: 46px 34px 0 35px;
    min-height: 270px; 
    background: #FFFFFF;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px; 
}

.form-group {
    display: inline-flex;
    flex-flow: column;
    flex-grow: 0;
}

.form-group label {
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    width: 246px;
}

.form-group select {
    border: none;
    border-bottom: solid 1px #222222;
    width: 246px;
    height: 66px;
    padding: 0 0 0 40px;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    background: none; 
    /* appearance: none; */
}

select.background-country {
    background: url('pict01/country.png') no-repeat 1px 20px;
}

select.services {
    background: url('pict01/service.png') no-repeat 1px 20px;
}

/* .for-background select {
    background: url('pict01/downSmall.png') no-repeat right;
} */


.form-group input {
    border: none;
    border-bottom: solid 1px #222222;
    max-width: 246px;
    height: 66px;
    padding: 0 0 0 40px;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    background: none; 
    color: #222222;
    /* background: url('pict01/city.png') no-repeat 1px 20px; */
}

input.background-city {
   background: url('pict01/city.png') no-repeat 1px 20px;
}

input.background-index {
    background: url('pict01/index.png') no-repeat 1px 20px;
}

input.background-weight {
    background: url('pict01/Barbell.png') no-repeat 1px 20px;
}

.form-group input::placeholder {
    color: #222222;
}

.form-group button {
    width: 240px;
    height: 66px;
    padding: 0;
    margin-top: -6px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    font-weight: 700;
    border: none;
}

.options {
    margin: 0 auto 170px auto;
    min-height: 438px;  
    max-width: 1400px;
}

h8 {
    padding: 0;
    margin: 0 0 30px 0;
    font-weight: 800;
    font-size: 36px;
    line-height: 56px;
}

.options p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.delivery-option {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    align-items: center;
    padding: 26px 0 26px 29px;
    background: #FFFFFF;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
    margin: 0 0 20px 0;
}

.variant {
    display: inline-flex;
    align-items: center;
    flex: 1 1 723px;
    /* border-right: solid 1px #C0C9D7; */
}

.variant p {
    margin-left: 27px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.terms {
    flex: 1 0.5 209px;
    border-left: solid 1px #C0C9D7;
    border-right: solid 1px #C0C9D7;
    box-sizing: border-box;
    padding-left: 57px;
}

.price {
    flex: 1 0.5 230px;
    border-right: solid 1px #C0C9D7;
    box-sizing: border-box;
    padding-left: 42px;
}

.total {
    flex: 1 0.5 186px;
    border-right: solid 1px #C0C9D7;
    box-sizing: border-box;
    padding-left: 43px;
}

.arrow {
    flex: 1 0.5 52px;
    text-align: center;
}

p.text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
}

.price p.text-bold::after {
    content: url(pict01/info.png);
}

.four-steps {
    margin: 0 auto 150px auto;
    min-height: 755px;  
    max-width: 1400px;
}

.four-steps h2 {
    font-size: 34px;
    font-weight: 800;
    line-height: 56px;
    text-align: left;
    margin: 0 705px 14px 0;
    color: #1F2428;
}

.steps-description {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.step {
    flex: 0 1 300px;
    display: flex;
    flex-flow: column;
    margin-bottom: 49px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
}

.step a {
    color: #01CD7D;
    text-decoration: none;
}

.step img {
    width: 280px;
    height: 280px;
    margin-bottom: 16px;
}

.line {
    white-space: pre
  }

.shopping-masters {
    margin-right: 593px;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 30px;
}

.four-steps button {
    width: 240px;
    height: 66px;
    border: none;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
  }

.tour {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 36px;
    margin: 0 auto 150px auto;
    min-height: 480px;
    max-width: 1800px;
}

h4 {
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
    margin: 0 0 19px 0;
    color: #FFFFFF;
}

.tour-empty1 {
    flex: 0 1 191px;
}
.tour-img {
    flex: 0 0 411px; 
}
.tour-empty2 {
    flex: 0 1 75px;
}
.tour-text {
    flex: 0 1 763px;
}
.tour-empty3 {
    flex: 0 1 360px;
}

div.tour-text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 0 30px 0;
}

div.tour-text button {
    width: 240px;
    height: 66px;
    border: none;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
  }

.clients {
    margin: 0 auto 80px auto;
    max-width: 1400px;
    min-height: 494px; 
} 

.clients h3 {
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
    color: #1F2428;
    margin: 0 566px 20px 0;
    padding: 0;
    }   

div.clients p {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    margin: 0 796px 40px 0;
}

.advantages {
    display: flex;
    flex-flow: row;
    /* justify-content: space-between; */
}

.advantage-block {
    box-sizing: border-box;
    min-width: 447px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
    padding: 35px 47px 0 37px;
}

.advantage-block img {
    margin-bottom: 30px;   
}

.advantage-space {
  flex: 1 1 30px; 
}

div.advantage-text h7 {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

div.advantage-text p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0 0 0;
}

.reviews {
    margin: 0 auto 150px auto;
    max-width: 1400px;
    min-height: 752px; 
    padding: 0;   
}

.reviews h8 {
    margin-bottom: 40px;
}

.all-reviews {
    display: flex;
    flex-flow: row wrap;
    /* margin-bottom: 50px; */
    justify-content: space-between;
    align-content: stretch;
    min-height: 550px;
}

.separate-review  {
    box-sizing: border-box;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
    width: 685px;
    height: 260px;
}

.separate-review img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    float: left;
    margin-right: 38px;
}

.username {
    margin-bottom: 14px;
    margin-top: 22px;
}

p.names {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.username img {
    float: none;
    width: auto;
    height: auto;
    margin: 0;
}

.comment {
    height: 93px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

.data-city {
    /* display: inline-block; */
    float: left;
    width: 43px;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 15px;
}

.comment-info {
    display: inline-block;
    width: 118px;
    height: 48px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.all-reviews button {
    width: 240px;
    height: 66px;
    border: none;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    margin-top: 50px;
  }

.address {
    /* background: #E5E5E5; */
    margin: 0 auto 150px auto;
    max-width: 1400px;
    min-height: 476px;  
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;   
}

.address h3 {
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
    color: #1F2428;
    margin: 0 0 12px 0;
    }    

.address p {
    margin-bottom: 15px;
}

.subscribe {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto 0px auto;
    min-height: 250px;
    max-width: 1800px;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 36px;
}

.subscribe-empty1 {
    flex: 0 1 200px;
}
.subscribe-text {
    flex: 0 1 482px; 
}

h6 {
    width: 482px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.subscribe-empty2 {
    flex: 0 1 110px;
}
.mail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 1 0 804px;
}

.mail input {
    border: none;
    border-bottom: solid 1px #FFFFFF;
    width: 473px;
    height: 66px;
    padding: 0 0 0 40px;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    background: none; 
    color: #FFFFFF;
    background: url('pict01/Envelope.png') no-repeat 1px 20px;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}


.mail button {
    width: 240px;
    height: 66px;
    padding: 0;
    margin-left: 40px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    font-weight: 700;
    border: none;
}

.subscribe-empty3 {
    flex: 0 1 200px;
}

footer {
    display: block;
    min-height: 474px;
    max-width: 1400px;
    margin: 0 auto;
}

.information {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 70px;
    min-height: 384px;
}

.information p {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
}

.rights {
    font-weight: 300;
    font-size: 13px;
    margin: 0 60px;
    border-top: solid 1px black;
    height: 90px;
    justify-content: center;
    align-content: center;
    line-height: 90px;
    text-align: center;
}

.info-column a {
    font-family: 'gilroy-regular', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #1F2428;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

.footer-links img {
    margin-top: 35px;
    margin-right: 5px;
}

@media (max-width: 1450.02px) {
    h1 {
        font-weight: 500;
        font-size: 54px;
        line-height: 60px;   
    }

    .slide-box {
        padding: 0 5px 0 5px;
        flex: 0 1 auto;
    }
    
    .space-into-box {
        min-width: 5px;
    }

    .slide-box p {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
    }

    holder {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 17.5px;
        padding-bottom: 27px;
        max-width: 1400px;
    }

    holder div:nth-of-type(1) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        max-width: 100%;
        min-height: 100px;
        padding: 0;
    }
    
    holder div:nth-of-type(2) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        box-sizing: border-box;
        border-left: none;
        padding: 0;
        max-width: 100%;
        min-height: 100px;
    }
    
    holder div:nth-of-type(3) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        box-sizing: border-box;
        border-left: none;
        padding: 0;
        max-width: 100%;
        min-height: 100px;
    }
    
    holder div:nth-of-type(4) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        box-sizing: border-box;
        border-left: none;
        padding: 0;
        max-width: 100%;
        min-height: 100px;
    }

    box {
        margin-bottom: 20px;
    }

    .options {
        margin-bottom: 20px;
    }  

    .four-steps {
        margin-bottom: 20px;
    }  

    .tour {
        margin-bottom: 20px;
    }

    div.tour h4 {
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
    }

    .address {
        margin-bottom: 20px; 
    }

    .reviews {
        margin-bottom: 20px; 
    }

    .calculate {
        max-width: 100%;
    }

    div.calculate h2{
        text-align: center;
        max-width: 100%;
        margin: 0;
    }

    div.calculate p{
        text-align: center;
    }


    .postbox {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        box-sizing: border-box;
        max-width: 1400px;
        margin: 0 auto 80px auto;
        padding: 46px 34px 0 35px;
        min-height: 270px; 
        background: #FFFFFF;
        box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
        border-radius: 16px; 
    }

    .postbox {
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        max-width: 1400px;
        margin: 0 auto 80px auto;
        padding: 46px 34px 0 35px;
        min-height: 270px; 
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group button {
        margin-top: 20px;
}

    .steps-description {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
}
    .four-steps h2 {
        font-size: 34px;
        font-weight: 800;
        line-height: 56px;
        text-align: center;
        margin: 0;
        color: #1F2428;
}
    .step {
        max-width: 315px;
    }

    .shopping-masters {
        margin: 0;
    }

    .clients h3 {
        margin: 0;
        text-align: center;
}

    div.clients p {
        margin: 0;
        text-align: center;
    }

    .advantages {
        display: flex;
        flex-flow: column nowrap;
}

    .advantage-block {
        margin: 0 auto;
        min-width: 650px;
        
}

    div.advantage-block p {
        text-align: left;
}

    .all-reviews {
        flex-flow: column nowrap;
        align-items: center;  
}

    .reviews h8 {
        display: block;
        text-align: center;
    }

    .subscribe {
        flex-flow: column nowrap;
        height: auto;
        justify-content: space-around;  
        align-items: center; 
        /* min-height: auto;  */
    }

    .subscribe-empty1 {
        display: none;
    }
    .subscribe-text {
        flex: 0 1 auto; 
        margin-bottom: 20px;
    }

    .subscribe-text h6{
        width: auto;
        text-align: center;
    }
    .subscribe-empty2 {
        display: none;
    }
    .mail {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        flex: 0 0 auto;
        min-height: auto;
    }

    .mail input {
        margin-bottom: 10px;
    }

    .subscribe-empty3 {
        display: none;
    }
}
 
@media (max-width: 1050.02px) {
    .menu {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        flex: 0 0.5 230px;
    }

    .menu p{
        margin: 4px;
    }

    .space {
        display: none;
    }

    .info-column {
        margin-left: 10px;
    } 


    .mini-slider img {
        width: 32px;
        height: 32px;
    }

    .arrow img {
        width: 26px;
        height: 16px;  
    }
}

@media (max-width: 750.02px) {
header {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 230px;
    margin: 0 auto;
  }
  
  div.enter-img a{
    display: none;
  }
  
  .spacer2 {
    display: none;
  }
  
  div.enter-link p{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 0 0 40px;
  }
      
  .mini-slider {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

    .slide-box {
        margin: 10px 0;
    }

 .arrow img {
    transform: rotate(90deg);
    align-self: flex-end;
 }

 .slide-box img {
    height: 52px;
    width: 52px;
 }

  h1, h5 {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px
  }

  div.main-text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
  }
main {
    height: auto;
    margin: 20px 0;
}

  div.main-img {
    display: none;
  }

  div.box-img {
    display: none;
  }

.postbox {
    margin: 0;
}

.options {
    min-height: auto;
}

div.delivery-option {
    padding: 0;
    justify-content: center;
}

.variant img{
    display: none;
}

.variant p{
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.terms {
    padding: 0 0 0 10px;
    border: none;
}

.price {
    padding: 0;
    border: none;
}

.total {
    padding: 0 0 0 10px;
    border: none;
}

.tour-img {
    display: none;
}

div.tour h4 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

.clients h3 {
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
}

div.clients p {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}

div.tour-text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}

.options p.text-bold{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.advantage-block {
    min-width: 100%;
}

.separate-review {
    width: 100%;
    /* height: 260px; */
}

div.separate-review img:first-child {
    display: none;
}

.address h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
}

.subscribe {
    padding: 0 10px;
}

.subscribe-text h6 {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}

.mail input {
    width: 100%;
}

.mail button {
    margin: 0 auto;
}

  div.information {
    flex-flow: column;
    align-items: center;
    margin: 10px auto 0 auto;
    padding: 0;
    width: 250px;
}
  
div.info-column {
    width: 250px;
}

.rights {
    margin: 0 10px;
}
}